<html>
    <head>
        <title>tests</title>
        <link rel="stylesheet" href="./tests.css"></link>
    </head>
    <body>
        <div class="title">square zero</div>
        <img class="logo" src="./logo.png" />
        <div class="sq">
            <div class="text">
                freckles and fairies
                farms and the farthest galaxies
                the browns in your eyes and the brightest stars
                i detest the dichotomy
                i desist from all my machinations
                i've gone through with it too far
                time is so annoyingly linear
                stars and songs, they keep me occupied
                solos and the sun, I get by life.
                there will be a day of amnesia
                the perfectly imperfect clarity
                of thought and memories
                where you don't exist and I don't dream
                radiation will be poison and biology ignoble.
                the typewriter will be stashed, the papers burnt
                hey, you can't be bothered if your mind is lost.
            </div>
        </div>
        <div class="gradient-blur">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <script src="tests.js"></script>
    </body>
</html>